<form class="d-block w-100">
  <div class="row mb-3">
    <div class="col">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" class="form-control" />
    </div>
    <div class="col">
      <label for="amount" class="form-label">Amount</label>
      <input type="text" id="amount" class="form-control" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-success me-1">Add</button>
      <button type="button" class="btn btn-danger me-1">Delete</button>
      <button type="button" class="btn btn-warning">Clear</button>
    </div>
  </div>
</form>
