<div class="d-flex">
  <h2>{{ selectedRecipe.name }}</h2>
  <div class="btn-group ms-auto" role="group" aria-label="Recipe Controls">
    <button id="manageRecipeGroupDrop" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Manage Recipe
    </button>
    <ul class="dropdown-menu" aria-labelledby="manageRecipeGroupDrop">
      <li>
        <a class="dropdown-item" href="#">Add Ingredients</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Edit Recipe</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Delete Recipe</a>
      </li>
    </ul>
  </div>
</div>
<hr/>

<h3>Description</h3>
<p>{{ selectedRecipe.description }}</p>

<h3>Ingredients</h3>
