<header class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-xl">
      <div class="navbar-brand">
        Recipe Book
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle Mobile Navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-primary">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">
              Recipe Book
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Shopping List
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manage
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a href="#" class="dropdown-item">Save Data</a>
                <a href="#" class="dropdown-item">Fetch Data</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
