<div class="row">
  <div class="col-12">
    <div class="d-flex">
      <h3>Recipe List</h3>
      <button class="btn btn-primary ms-auto" type="button">Add Recipe</button>
    </div>
    <hr/>
    <ul class="recipe-list list-group" *ngIf="hasRecipes">
      <li class="recipe-list__item list-group-item" *ngFor="let recipe of recipies">
        <app-recipe-item [title]="recipe.name" [description]="recipe.description" [imagePath]="recipe.imagePath"></app-recipe-item>
      </li>
    </ul>
  </div>
</div>
